body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #aa2f2f;
  z-index: 10;
}

#navbar ul {
  display: flex;
  margin: 0 40px;
  list-style: none;
}

#navbar ul a {
  display: block;
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;
}

#social-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  border: 1px solid white;
  padding: 5px 20px;
}

#navbar a:hover {
  background-color: #3dadbc;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #423f3f;
}

#welcome-section h1 {
  padding-top: 100px;
  font-size: 60px;
  color: white;
}

#welcome-section p {
  margin-top: -20px;
  font-size: 25px;
  color: #aa2f2f;
  font-style: italic;
}

#projects {
  padding: 40px;
  background-color: #3dadbc;
  text-align: center;
}

#projects h2 {
  font-size: 40px;
  color: white;
}

hr {
  width: 500px;
  border: 1px solid white;
}

#projects .project-tile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  margin: 10px;
}

#projects .project-tile #profile-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s;
}

#projects .project-tile #profile-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.25);
}

#projects .project-tile #profile-link img {
  width: 350px;
  height: 400px;
}

#projects .project-tile #profile-link h4 {
  background-color: #423f3f;
  color: white;
  font-size: 18px;
  padding: 15px;
  margin: 0;
}

#show-all-button {
  background-color: #423f3f;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid #423f3f;
}

#show-all-button:hover {
  background-color: #aa2f2f;
  border: 1px solid #aa2f2f;
  box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#social-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #423f3f;
}

#social-section h2 {
  font-size: 45px;
  color: white;
}

#social-section p {
  font-size: 18px;
  color: white;
  font-style: italic;
  padding: 0;
}

#social-section ul {
  list-style: none;
}

#social-section ul li {
  display: inline-block;
  padding: 20px;
}

#social-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  border: 1px solid white;
  padding: 5px 20px;
}

#social-section ul li a:hover {
  color: #aa2f2f;
  font-size: 23px;
  border: 1px solid #aa2f2f;
}

#hr-before-footer {
  width: 100%;
  border: 3px solid #aa2f2f;
  margin: 0;
}

#footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #423f3f;
}

#footer-section h3 {
  font-size: 25px;
  color: white;
  font-weight: 300;
}

@media only screen and (max-width: 850px) and (min-width: 600px) {
  #navbar {
    width: 820px;
  }

  #navbar ul {
    margin: 0 15px;
  }

  #projects {
    padding: 30px;
  }

  #projects h2 {
    font-size: 30px;
  }

  hr {
    width: 400px;
  }

  #projects .project-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    padding: 40px;
  }

  #projects .project-tile #profile-link img {
    width: 550px;
    height: 400px;
    margin-top: 20px;
  }
  #hr-before-footer {
    width: 814px;
  }
}
